body {
    font-family: "Azeret Mono", monospace;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 40px 150px 0 150px;
}

.nav-title {
    color: #0d1321;
    font-size: 32px;
    font-weight: 900;
    text-align: left;
}

.header-title {
    font-size: 40px;
    font-weight: 800;
}

.header-description {
    color: hsl(221, 23%, 19%);
    font-size: 16px;
    font-weight: 400;
}

.nav-btn {
    padding: 17px 24px;
    color: #0d1321;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 2px solid #0d1321;
    border-radius: 8px;
    opacity: 0.8;
}

.banner {
    text-align: center;
    background-image: url('assets/Hero-bg.png');
    margin-top: 35px;
    width: 100%;
    height: 600px;
}

.banner-iteam {
    padding: 26px 300px 44px 300px;
}

.contact-me {
    border-radius: 8px;
    background: #0d1321;
    color: white;
    padding: 15px 20px 15px 20px;
    font-size: 26px;
    margin-top: 25px;
    width: 25px 45px 25px 45px;
}

.banner-description {
    color: #0d1321b3;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    margin: 10px 0 20px 0;

}

.why-development {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.059);
    text-align: center;
    margin: 80px 150px 80px 150px;
    padding: 50px 130px;
}

.second-title {
    font-weight: 800px;
    font-size: 30px;
}

.answer-container {
    display: flex;
    margin: 30px 0 40px 0;
    text-align: left;
}

.answer-container-ex {
    display: flex;
    margin: 40px 0 40px 0;
    text-align: left;

}

.answer-title {
    color: #0d1321b3;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
}

.border {
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    background: linear-gradient(90deg in oklab, #ffffff, #F1F1F2);
    margin-right: 20px 0 20PX 0;
    padding: 20px 45PX 30PX 45PX;

}

.border-ex {
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
    background: linear-gradient(90deg in oklab, #F1F1F2, #ffffff);
    margin-right: 20px 0 20PX 0;
    padding: 20px 45PX 30PX 45PX;
    justify-content: space-around;

}

.answer-container a,
.border-ex a {
    text-decoration: none;
    color: #0d1321b3;
    border: 2px solid #0d1321b3;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 450;
}

.inspiration {
    text-align: center;

}

.second-title {
    font-size: 35px;
    font-weight: 800;
}

.inspire-title {
    margin: 10px 290px;
    margin-bottom: 50px;
}

.v-iframe {
    border: 1px solid hsla(216, 2%, 45%, 0.653);
    border-radius: 16px;
    margin: 0 160px;
    padding: 30px 0;

}

iframe {
    border-radius: 16px;
}

.target {
    margin-top: 150px;
}

.code-container {
    display: flex;
    margin: 60px 0 0 80px;

}

.code-container a {
    color: #0d1321;
    font-weight: 700;
}

.target-caption {
    text-align: center;
    margin: 10px 190px 50px 190px;

}

.tag-title {
    font-weight: 800;
}

.html {
    border-radius: 16px;
    background-color: #FFF6F4;
    padding: 30px 30px;
    width: 299px;
    height: 264px;
    margin: 0 25px 0 100px;
}

.css {
    border-radius: 16px;
    background-color: #F2F6FE;
    padding: 30px 30px;
    width: 299px;
    height: 264px;
    margin-right: 25px;
}

.java {
    border-radius: 16px;
    background-color: #FFFDF2;
    padding: 30px 30px;
    width: 299px;
    height: 264px;
    margin-bottom: 50px;
}

.next-target {
    margin: 80px 150px 50px 150px;
}

.target-2 {
    display: flex;
    border: 2px solid #80808095;
    border-radius: 16px;
    padding: 32px 45px 32PX 45PX;
    margin-bottom: 20px;

}

.margin {
    margin: auto;
    padding-right: 50px;
    width: 94.78px;
    height: 84.41px;
}

.special-tag a {
    color: #0d1321;
    font-weight: 700;
}

.contact {
    background-image: url('assets/handshake.jpg');
    margin: 10px 150px 10px 150px;
    border-radius: 16px;
    height: 315px;
}

.contact-title {
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.contact-items {
    padding: 30px 210px;
}

.contact-caption {
    text-align: center;
}

.message {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

.input-text {
    padding: 10px 60px 10px 0;
    background-color: white;
    border: none;
    border-radius: 8px;
    text-align: left;
    font-size: medium;
    font-family: "Azeret Mono", monospace;
    margin-right: 10px;
    height: 25px;
    width: 60%;
    padding: 19px 20px 19px 19px;
}

.input-submit {
    background-color: white;
    border: none;
    border-radius: 8px;
    height: 60px;
    width: 120px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
    font-family: "Azeret Mono", monospace;
}

.contact-description {
    color: #d4d4d4e7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

footer {
    background: rgba(15, 19, 26, 0.168);
    padding: 15px 0px;
}

footer h3 {
    font-size: 24px;
    font-weight: 500;
}

footer img {
    margin-right: 15px;
}

.footer-item {
    display: flex;
    margin: 0px 100px;
    justify-content: space-between;
    align-items: center;
}