body {
    font-family: "Azeret Mono", monospace;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 40px 150px 0 150px;
}

.nav-title {
    color: #0d1321;
    font-size: 32px;
    font-weight: 900;
    text-align: left;
}

.header-title {
    font-size: 40px;
    font-weight: 800;
}

.header-description {
    color: hsl(221, 23%, 19%);
    font-size: 16px;
    font-weight: 400;
}

.nav-btn {
    padding: 17px 24px;
    color: #0d1321;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 2px solid #0d1321;
    border-radius: 8px;
    opacity: 0.8;
}

.banner {
    text-align: center;
    background-image: url('assets/Hero-bg.png');
    margin-top: 35px;
    width: 100%;
    height: 600px;
}

.banner-iteam {
    padding: 26px 300px 44px 300px;
}

.contact-me {
    border-radius: 8px;
    background: #0d1321;
    color: white;
    padding: 15px 20px 15px 20px;
    font-size: 26px;
    margin-top: 25px;
    width: 25px 45px 25px 45px;
}

.banner-description {
    color: #0d1321b3;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    margin: 10px 0 20px 0;

}

.why-development {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    text-align: center;
    margin: 80px 150px 80px 150px;
    padding: 50px 130px;
}

.second-title {
    font-weight: 800px;
    font-size: 30px;
}

.answer-container {
    display: flex;
    margin: 40px 0 40px 0;
    text-align: left;
}

.answer-title {
    color: #0d1321b3;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
}

.border {
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    background: #ffffff;
    margin-right: 96px;
    padding: 40px;

}

.answer-container a {
    text-decoration: none;
    color: #0d1321b3;
    border: 2px solid #0d1321b3;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 500;
}

.inspiration {
    text-align: center;

}

.second-title {
    font-size: 35px;
    font-weight: 800;
}

.inspire-title {
    margin: 10px 290px;
    margin-bottom: 50px;
}

.v-iframe {
    border: 1px solid hsla(216, 2%, 45%, 0.653);
    border-radius: 16px;
    margin: 0 160px;
    padding: 30px 0;

}

iframe {
    border-radius: 16px;
}

.target {
    margin-top: 150px;
}

.code-container {
    display: flex;
    margin: 60px 0 0 80px;

}

.code-container a {
    color: #0d1321;
    font-weight: 700;
}

.target-caption {
    text-align: center;
    margin: 10px 290px;

}

.tag-title {
    font-weight: 800;
}

.html {
    border-radius: 16px;
    background-color: #FFF6F4;
    padding: 30px 30px;
    width: 299px;
    height: 264px;
    margin: 0 25px 0 100px;
}

.css {
    border-radius: 16px;
    background-color: #F2F6FE;
    padding: 30px 30px;
    width: 299px;
    height: 264px;
    margin-right: 25px;
}

.java {
    border-radius: 16px;
    background-color: #FFFDF2;
    padding: 30px 30px;
    width: 299px;
    height: 264px;
    margin-bottom: 50px;
}

.target-2 {
    display: flex;
    border: 1px solid #808080e0;
    border-radius: 16px;
    padding: 24px 24px;
    margin-bottom: 20px;

}

.margin {
    margin-right: 50px;
    width: 94.78px;
    height: 84.41px;
    left: 0;
    top: 11.8px;
}

.special-tag a {
    color: #0d1321;
    font-weight: 700;
}